@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Auth Website</h1>
    <p>Our preview website is invitation only. If you have been invited, please click the link below to access the site. Otherwise, please navigate to our website at <a href="https://microsoft.com">microsoft.com</a>. Thanks!</p>
    <a asp-area="" asp-page="/Login">Access the Preview Website</a>
</div>
