@page
@model auth_website.Pages.LoginModel
@{
    ViewData["Title"] = "Success";
}

<div class="text-center">
    <h1 class="display-5">Success!</h1>
    <p>You are now authorised to access the Preview Website. Please click the link below to continue. Thanks!</p>
    <a class="m-3" href="https://@Model.ReturnUrl">Continue to the Preview Website</a>
</div>