@page
@model auth_website.Pages.LoginModel
@{

}

<p>You are now authorised to access the preview webste. Please click the link below to continue. Thanks!</p>
<a href="https://@Model.ReturnUrl">Continue to the Preview Website</a>