@page
@model auth_website.Pages.SignedOutModel
@{
    ViewData["Title"] = "Signed Out";
}

<div class="text-center">
    <h1 class="display-5">Signed Out!</h1>
    <p>You are now signed out. To access the Preview Website again, please follow the link below. Thanks!</p>
    <a class="display-6" href="/Index">Back to the Preview Website</a>
</div>